*{
    margin: 0;
    padding: 0;
}
#menu{
    position: fixed;
    width: 100%;
}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li{
    width: 25%;
}
#menu ul a{
    color: black;
    display: block;
    text-decoration: none;
    padding: 10px;
}
#menu ul li{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    background-color: rgb(17, 110, 79);
}
#menu ul li:hover{
    background-color: rgb(47, 8, 83);
}
#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(17, 110, 79);
    padding: 0;
    width: 100%;
}

#menu ul ul li{
    float: none;
    width: 100%;
}

#menu ul ul a{
    line-height: 120%;
    padding: 10px 15px;
}

#menu ul li:hover ul{
    display: block;
    animation-duration: 1s;
    animation-name: xd;
}
a{
    text-align: center;
}

@keyframes xd {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}